body {
    margin: 0;
    height: 100vh;
    background-color: #eee;
}

/* * {
    border: 1px solid black;
} */

.yinying {
    box-shadow:0px 10px 5px 0px rgba(0,0,0,0.2);
}

.flex {
    display: flex;
}

.whiteback {
    background-color: white;
}
/* 
    主区域占满除侧边栏所有区域
*/
.flex1 {
    flex: 1;
}

.column {
    flex-direction: column;
}


.cebian {
    width: 200px;
}

/* 当屏幕小于600px要隐藏侧边栏 */
@media (max-width: 600px) {
    .cebian {
        display: none;
    }
    .neirong {
        flex-direction: column;
    }
    /* .gonggao {
        flex-direction: column;
    } */
}


.toubu {
    height: 60px;
}

.mg8 {
    margin: 8px;
}

.mgr8 {
    margin-right: 8px;
}

.mgt8 {
    margin-top: 8px;
}

.mgt16 {
    margin-top: 16px;
}

.overflow1 {
    overflow: auto;
}

.daohang {
    padding: 10px 20px;
    border-bottom: 1px solid rgb(190, 190, 190);
    font-size: 14px;
    color: #666;
}

.biaoti {
    padding: 10px 20px;
    font-size:30px;
    color: #666;
}

.juzhong {
    padding-top:5px;
    text-align: center;
}


/* 按钮css */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
 
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
 
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
 
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
 
input:checked + .slider {
    background-color: #4CD964;
}
 
input:focus + .slider {
    box-shadow: 0 0 1px #4CD964;
}
 
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
 
.slider.round {
    border-radius: 34px;
}
 
.slider.round:before {
    border-radius: 50%;
}